<!--Error message that displays if the user cant delete the lecturer 
Passed ERROR message from index.js-->
<h1>Error Message</h1>
<a href="/">Home</a>
<a href="/lecturers">Back to Lecturers</a>
<p><%= message %></p>                                       