<!--Displays a list of all lecturers from the mongo database-->
<h1>Lecturers</h1>
<a href="/">Home</a>
<!--Style for the table-->
<style>
    table {
        border-collapse: collapse;
        width: 50%;
    }
    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: center;
    }
</style>

<table>
    <tr>
        <th>Lecturer ID</th>
        <th>Name</th>
        <th>Department ID</th>
        <th>Action</th>
    </tr>
    <!--Lists through lecturers and displays them in rows and columns-->
    <% lecturersList.forEach((lecturer) => { %>
        <tr>
            <td><%= lecturer._id %></td>
            <td><%= lecturer.name %></td>
            <td><%= lecturer.did %></td>
            <!--Link to delete a lecturer given the id-->
            <td><a href="/lecturers/delete/<%= lecturer._id %>">Delete</a></td>
        </tr>
    <% }) %>
</table>