<style>
  .container {
    display: grid;
  }
</style>

<div class="container">
  <div>
    <div>ID</div>
    <div>Name</div>
    <div>Age</div>
    <div>Action</div>
  </div>
  <% studentsList.forEach((student) => { %>
  <div>
    <td><%= student.sid %></td>
    <td><%= student.name %></td>
    <td><%= student.age %></td>
    <td><a href="/students/delete/<%= student.sid %>">Delete</a></td>
  </div>
  <% }) %>
</div>
